.recipe-list-container {
  padding-top: 64px;
  padding-bottom: 56px;
  overflow: auto;
  max-width: 1025px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

@media (min-width: 800px) {
  .recipe-list-container {
    grid-template-columns: 1fr 1fr; /* On tablets, 2 columns are shown */
    /* grid-template-areas:
      "title-photo ingredients"
      "instructions instructions"; */
  }
}
