.recipe-card {
  width: 100%;
  /* max-width: 100%; */
  background: white;
  border-radius: 16px !important;
}

.no-underline {
  text-decoration: none;
}

.recipe-card-name {
  color: var(--secondary-color);
  /* font-family: "Bitter, serif"; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

.recipe-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: small;
  margin-bottom: 16px;
}
