.recipe-card {
  width: 500px;
  max-width: 100%;
  background: white;
  border-radius: 16px !important;
}

.no-underline {
  text-decoration: none;
}

.recipe-card-name {
  color: var(--secondary-color);
  /* font-family: "Bitter, serif"; */
  font-size: 1.5rem !important;
  font-weight: bold !important;
}
