.recipe-list-container {
  max-width: 1025px;
  width: 92%;
  height: 78%;

  margin: 10px 20px 20px 20px;
  padding: 20px;
  overflow: auto;

  border: 2px solid var(--neutral-light);
  border-radius: 36px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3%;
}

.no-recipe-message {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: Bitter, serif;
  font-weight: bold;
}

@media (min-width: 800px) {
  .recipe-list-container {
    grid-template-columns: minmax(0, 1fr), minmax(0, 1fr); /* On tablets, 2 columns are shown */
    grid-template-rows: minmax(0, 1fr), minmax(0, 1fr); /* On tablets, 2 columns are shown */
  }
}
