.recipe-container {
  position: relative;
  color: var(--neutral-dark);
  background-color: var(--primary-color);
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  display: grid;
  grid-template-columns: 1fr; /* On mobile devices, only 1 column is shown */
  grid-template-areas:
    "title-photo"
    "ingredients"
    "instructions";
}

.ingredients-instructions {
  font-size: medium;
}

.recipe-title-photo {
  grid-area: title-photo;
  padding: 20px 10px;
}

.recipe-photo {
  border-radius: 16px;
  max-width: 470px;
}

.recipe-ingredients {
  grid-area: ingredients;
  color: var(--neutral-dark);
  padding: 10px;
}

.recipe-ingredients-header-box {
  display: flex;
  justify-content: flex-start;
  padding-top: 20px;
  padding-left: 10px;
}

.recipe-instructions {
  grid-area: instructions;
  color: var(--neutral-dark);
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr;
  padding: 10px;
}

.recipe-instructions-header-box {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

/* .recipe-instructions-steps-box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto;

  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 10px;
}

.recipe-instructions-steps {
  width: 300px;
  font-size: medium;
} */

.recipe-instructions-steps-box {
  display: flex; /* Changed from 'grid' to 'flex' */
  max-width: 1005px;
  height: 310px;
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  margin: 0 10px 10px 10px;
  /* padding: 10px 0; */

  border-radius: 16px;
  border: 1px solid var(--neutral-light);
  background-color: var(--primary-color);
}

.recipe-instructions-steps {
  min-width: 300px;
  padding: 10px;
  border-radius: 16px;
  font-size: medium;
  display: inline-block; /* Display each card inline */
  background-color: var(--primary-color) Important!; /* Set background color */
  overflow-y: auto;
}

@media (min-width: 800px) {
  .recipe-container {
    grid-template-columns: 1fr 1fr; /* On tablets, 2 columns are shown */
    grid-template-areas:
      "title-photo ingredients"
      "instructions instructions";
  }
}
