@font-face {
  font-family: "Bitter";
  src: url("./fonts/Bitter-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Dosis";
  src: url("./fonts/Dosis-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SFPRODISPLAYREGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "SF Pro";
  src: url("./fonts/SF-Pro.ttf") format("truetype");
}

body,
p,
span,
div {
  margin: 0;
  font-family: "SF Pro", "Roboto", "Dosis", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
